@use '../../styles/partials/colors';
@use '../../styles/partials/breakpoints';

.video-info {
    
    &__container {
        padding: 1.5rem 1rem 1rem;
        color: colors.$BrainFlix-Black;

        @include breakpoints.tablet {
            padding: 2.25rem 2.25rem 1.5rem;
        }

        @include breakpoints.desktop {
            padding: 2.25rem 0 1.5rem;
        }
    }
    
    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        padding-bottom: 1rem;
        border-bottom: 1px solid colors.$Mercury;
        
        @include breakpoints.tablet {
            font-size: 2.063rem;
            line-height: 2.75rem;
            padding-bottom: 1.5rem;
            border: none;
        }

        @include breakpoints.desktop {
            padding: 0 1.5rem 1rem 0;
        }        
    }

    &__info-container {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0;
        font-size: 0.813rem;
        line-height: 1.125rem;
        border-bottom: 1px solid colors.$Mercury;

        @include breakpoints.tablet {
            padding: 0 0 1rem;
            line-height: 1.375rem;
            flex-wrap: nowrap;
        }

        @include breakpoints.desktop {
            padding: 0 1.5rem 0.5rem 0;
        }   
    }

    &__channel {
        width: 50%;
        padding-bottom: 1rem;
        font-size: 0.813rem;
        line-height: 1.125rem;
        
        @include breakpoints.tablet {
            width: auto;
            padding: 0 1.5rem 0 0;
            font-size: 0.875rem;
            line-height: 1.375rem;
        }

        & p {
            font-weight: bold;
        }
    }
    &__views {
        width: 50%;
        padding-bottom: 1rem;
        color: colors.$Silver;
        
        @include breakpoints.tablet {
            padding: 0 1.5rem 0 0;
            width: auto;
            order: 1;
        }
        
        & img {
            height: 1rem;
            vertical-align: text-bottom;
        }

        & span {
            padding-left: .75rem;
        }
    }
    &__date {
        width: 50%;
        color: colors.$Silver;

        @include breakpoints.tablet {
            width: auto;
            flex-grow: 1;
        }
    }
    &__likes {
        width: 50%;
        color: colors.$Silver;

        @include breakpoints.tablet {
            width: auto;
            order: 1;
        }

        & img {
            height: 1rem;
            vertical-align: text-bottom;
        }

        & span {
            padding-left: .75rem;
        }
    }

    &__description {
        padding-top: 1rem;
        font-size: 0.813rem;
        line-height: 1.125rem;

        @include breakpoints.tablet {
            padding-top: 1.5rem;
            font-size: 0.875rem;
            line-height: 1.375rem;
        }

        @include breakpoints.desktop {
            padding: 1.5rem 1.5rem 0 0;
        }   
    }
}