@use '../../styles/partials/colors';
@use '../../styles/partials/breakpoints';


.header {
    background-color: colors.$White;
    color: colors.$BrainFlix-Black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;

    &__logo {
        max-width: 120px;
        max-height: 25px;
        margin-bottom: 1rem;
    }

    &__search-container {
        display: flex;
        align-items: center;
        border: 1px solid colors.$Mercury;
        background-color: colors.$Alabaster;
        border-radius: 4px;
        flex-grow: 1;
        height: 2.25rem;
        box-sizing: border-box;
        padding: .75rem .75rem .75rem 2.75rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        font-size: .75rem;
        background-image: url('../../assets/images/icons/search.svg');
        background-position: left 12px top 50%;
        background-repeat: no-repeat;
        background-size: 18px;

        &:focus, &:focus-visible {
            outline: none;
            border: 2px solid colors.$BrainFlix-Blue;
        }
    }

    &__right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    &__image {

        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background-image: url('../../assets/images/images/Mohan-muruge.jpg');
        background-position: center;
        background-size: cover;
        margin-bottom: 1rem;
    }

    &__upload-button {

        display: flex;
        border-radius: 4px;
        border: none;
        align-items: center;
        height: 2.25rem;
        font-weight: 700;
        order: 1;
        flex-basis: 100%;
        color: colors.$White;
        background-color: colors.$BrainFlix-Blue;
        padding: 0.75rem;

        & > img {
            position: absolute;
            float: left;
        }

        & > p {
            text-align: center;
            width: 100%;
            font-size: 0.75rem;
            font-weight: 700;
        }

        &:hover {
            background-color: colors.$BrainFlix-DarkBlue;
        }
    }
}