@use '../../styles/partials/colors';
@use '../../styles/partials/breakpoints';

.video-container {
    max-width: 100%;
    background-color: colors.$BrainFlix-DarkBlack;
    display: flex;
    justify-content: center;
    
    @include breakpoints.tablet {
        padding: 0 2.25rem;
    }

    @include breakpoints.desktop {
        padding: 0
    }   

    & > video {
        max-width: inherit;
        max-height: inherit;

        @include breakpoints.desktop {
            max-height: 40vw;
        }   
    }
}