@use '../../styles/partials/colors';
@use '../../styles/partials/breakpoints';

.side-video {
    &__container {
        display: flex;
        width: 100%;
        height: 5rem;
        padding-top: 1rem;
        box-sizing: border-box;
    }

    &__image {
        background-color: colors.$Mercury;
        width: 100%;
        border-radius: 4px;

        &-container {
            border-radius: 4px;
            overflow: hidden;
            max-width: 6rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__copy {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 1rem;
    }

    &__title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.813rem;
        line-height: 1.125rem;
        font-weight: 700;
    }

    &__channel {
        font-size: 0.813rem;
        line-height: 1.125rem;
    }

}